body {
    padding: 30px;
    font-family: Arial,Helvetica;
    color: #555;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

ol {
    padding-left: 10px;
    font-size: 16px;
}
ol li {
    margin-bottom: 3px;
}

body.game table th {
    background: #f7f7f7;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
}

body.game table td,
body.game table th {
    padding: 10px;
    border: 1px solid #eee;
}
body.game table td.rating {
    font-weight: bold;
}
body.game table td.delta {
    padding-left: 30px;
}
body.game table td.delta.plus,
body.game table td.delta.minus {
    background-image: url(../img/arrow_up.gif);
    background-repeat: no-repeat;
    background-position: 10px 17px;
}
body.game table td.delta.minus {
    background-image: url(../img/arrow_down.gif);
}
