body {
    padding: 30px;
    font-family: Arial,Helvetica;
    color: #555;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

ul {
    padding-left: 10px;
    font-size: 16px;
}
ul li {
    margin-bottom: 3px;
}

table {
    margin-bottom: 40px;
}

table th {
    background: #f7f7f7;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
}

table td,
table th {
    padding: 10px;
    border: 1px solid #eee;
}
table td {
    text-align: right;
}
table td.name {
    text-align: left;
}
table td.rating {
    font-weight: bold;
}
table td.delta {
    padding-right: 30px;
    width: 35px;
}
table td.delta.plus,
table td.delta.minus {
    background-image: url(../img/arrow_up.gif);
    background-repeat: no-repeat;
    background-position: 55px 17px;
}
table td.delta.minus {
    background-image: url(../img/arrow_down.gif);
}

form .player-score {
    width: 50px;
}

form .player-name {
    width: 200px;
}

form fieldset {
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 5px;
}