{% extends "base.html" %}

{% block title %}{{game_name}} - {{super()}}{% endblock %}
{% block body_class %}game{% endblock %}

{% block content %}
    <h1>{{game_name}}</h1>
    <p class="nav">
        <a href="/">Home</a>
        <a href="/new?game={{name}}">Add new match result</a>
    </p>
    <table>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Number of games</th>
            <th>Rating</th>
            <th>Change</th>
        </tr>
        
        {% for player in players %}
            <tr>
                <td class="position">{{loop.index}}</td>
                <td class="name">{{player[0]}}</td>
                <td class="game_count">{{player[1]}}</td>
                <td class="rating">{{player[2]|int}}</td>
                <td class="delta{% if player[3] > 0 %} plus{% elif player[3] < 0 %} minus{% endif %}">{{player[3]|int}}</td>
            </tr>
        {% endfor %}
    </table>
    <p class="nav">
        <a href="https://github.com/peterjaric/rayter-games/blob/master/{{name}}.txt">View played games on GitHub</a>.
    </p>
{% endblock %}
