{% extends "base.html" %}

{% block content %}
    <h1>Rayter</h1>
    
    <p class="nav">
        <a href="new">Add new match result</a>
        <a href="#top-list">Top list</a>
    </p>


    <div class="tables">
        <div class="games">
            <h2>Games</h2>
            <table>
                <tr>
                    <th>Game</th>
                    <th>Leader</th>
                    <th>Leader rating</th>
                    <th>Total games</th>
                </tr>
                {% for name, game_name, players, game_count in games %}
                    <tr>
                        <td class="name"><a href="/{{ name }}">{{ game_name }}</a></td>
                        <td class="name">{% if players|length > 0 %}{{ players[0][0] }}{% endif %}</td>
                        <td class="rating">{% if players|length > 0 %}{{ players[0][2]|int }}{% endif %}</td>
                        <td class="rating">{{ game_count }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        
        <div id="top-list">
            <h2>Top list</h2>
            <table>
                <tr>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Average rating</th>
                </tr>
                {% for name, rating in top_list %}
                    <tr>
                        <td class="position">{{ loop.index }}</td>
                        <td class="name">{{ name }}</td>
                        <td class="rating">{{ rating|int }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endblock %}
