{% extends "base.html" %}
{% block title %}New game - {{super()}}{% endblock %}
{% block body_class %}game{% endblock %}

{% block content %}
<script type="application/javascript">
    $(function() {
        let users = {};

        {% for user in users %}
            users["{{user}}"] = { 
                {% if users[user]["displayName"] %}                
                    "displayName": "{{users[user]["displayName"]}}",
                {% endif %}
                {% if users[user]["imageUrl"] %}                
                    "imageUrl": "{{users[user]["imageUrl"]}}"
                {% endif %}
            };
        {% endfor %}

        $('#select-game').selectize({
            selectOnTab: false,
        });
        $('.player-name').selectize({
            create: true,
            selectOnTab: false,
            render: {
                option: function(item, escape) {
                    let user = users[item.value];

                    let html =
                        "<div class='option'>" + 
                            (item.value == "-" ? "Select a player" : 
                            (
                                (user && user["imageUrl"] ? "<img class='user-image' src='" + escape(user["imageUrl"]) + "'>" : "") +
                                (user && user["displayName"] ? escape(user["displayName"]) : escape(item.value))
                            )) +
                        "</div>";
                    return html;
                }
            }
        });
    });
</script>

<h1>New game</h1>
    <p class="nav">
        <a href="/">Home</a>
        {% if selected_game %}
            <a href="/{{selected_game}}">Back to game</a>
        {% endif %}
    </p>
    
    <p>
        Select player names and enter their scores.
    </p>
    <form class="new-result" method="POST">
        <label for="game">
            Game:
        </label>
        <select class="game-name" name="game" id="select-game">
            <option value="-">Select a game</option>
            {% for game in games %}
                <option  value="{{game.name}}" {% if game.name == selected_game %}selected{% endif %}>{{game.game.game_name}}</option>
            {% endfor %}
        </select>
        {% for n in range(10) %}
            <fieldset>
                <legend>Player {{n + 1}}</legend>
                <label for="player{{n}}">
                    Name:
                </label>
                <select class="player-name" name="player" id="player{{n}}">
                        <option>Select a player</option>
                        {% for player in players %}
                        <option value="{{player}}">{{player}}</option>
                        {% endfor %}
                    </select>
                <label for="score{{n}}">
                    Score:
                </label>
                <input class="player-score selectize-input" type="number" name="score" id="score{{n}}"/>
            </fieldset>
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}
